.menu-h {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;            /* Define o layout como Flexbox */
    justify-content: space-around;  /* Distribui espaço igualmente entre os itens */
    width: 100%;              /* Faz o contêiner pai ocupar 100% da largura */
    background-color: #333;   /* Cor de fundo do menu */
    padding: 0;               /* Remove padding padrão */
    margin: 0;                /* Remove margem padrão */
    list-style: none;         /* Remove as bolinhas da lista */
    color: white;            /* Cor do texto */
    
}

.menu-h li {
    flex: 1;                 /* Faz com que cada item ocupe igualmente o espaço disponível */
    text-align: center;      /* Centraliza o texto */
    padding: 15px 0;         /* Adiciona padding vertical */
    background-color: #444;  /* Cor de fundo dos itens */
    border-right: 1px solid #555; /* Adiciona uma borda direita */
    
}

.menu-h li:last-child {
    border-right: none;      /* Remove a borda do último item */
}

.menu-h li:hover {
    background-color: #555;  /* Cor de fundo ao passar o mouse */
    color: #555; /* cor da letra quando passar o mouse */
}