main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

main span {
    position: absolute;
}

#top-left {
    left: 0;
}

#top-right {
    right: 0;
}

@media (max-width: 1250px) {
    #top-left {
        display: none;
    }
    
    #top-right {
        display: none;
    }
}

main h2 {
    font-size: 24pt;
    margin-top: 64px;
}

main div#slide {
    width: 30%;
    height: 50vh;
    min-width:700px;
    background-color: #A3BF3B;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-top: 32px;
    border-radius: 8px;
}

main div#slide h3 {
    font-size: 16pt;
    text-align: center;
}

main div#slide button {
    margin-top: 32px;
    padding: 10px 50px;
    font-size: 24pt;

    color: #f8f6ed;
    background-color: #8C4227;
    border: none;
    border-radius: 8px;

    cursor: pointer;

    transition: filter 0.3s;
}

main.closed {
    margin-top: 168px;
}

button:hover {
    filter: brightness(0.9);
}

/* Tablets */
@media (max-width: 768px) {
    main div#slide {
        width: 100%;
        border-radius: 0 ;
        min-width: 100%;
    }
}

/* Smarthphone */
@media (max-width: 564px) {

}